// Init: Colors
// ===================================================

// Grayscale Colors
$white: #fff;
$white1: #f9f9f9;
$white2: #f4f4f4;
$white3: #eeeeee;
$white4: #e7e7e7;
$white5: #f0f0f0;
$white6: #e5e5e5;

$gray1: #d8d8d8;
$gray2: #cfcdcd;
$gray3: #c9c9c9;
$gray4: #9b9b9b;
$gray5: #878688;
$gray6: #6a6a6a;
$gray7: #4a4a4a;
$gray8: #333;
$gray9: #4f4c4b;
$gray10: #757575;
$gray11: #e3e3e3;
$gray12: #e8e8e8;
$gray13: #ececec;
$gray14: #cbcbcb;
$gray15: #979797;
$gray16: #fafafa;
$gray17: #c4c4c4;

$black: #000;
